body, html{
  margin: 0;
  font: 1em "Open Snas", sans-serif;
  padding: 0px;
  position: relative;
}
.nav-main{
  width: 100%;
  background-color: #222;
  color: #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.nav-main > ul{
  margin: 0px;
  padding: 0px;
  float: left;
  list-style-type: none;
}

.nav-main .logo{
  float: left;
  height: 40px;
  padding: 15px 30px;
  font-size: 1.4em;
  line-height: 40px;
  font-weight: bold;
}

.nav-main > ul > li {
  display: inline-block;
}
.nav-item{
  display: inline-block;
  padding: 15px 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.nav-item a{
  display: inline-block;
}
.nav-item:hover{
  background-color:#444;
}
.nav-content{
  position: absolute;
  top: 70px;
  overflow: hidden;
  background-color: #222;
  max-height:0;
  padding: 40;
}

.nav-content a{
  color: #fff;
  text-decoration: none;
  padding: 40;
}
.nav-content a:hover{
  text-decoration: underline;
}

.nav-sub{
  padding-left: 20px;
  padding-right: 15px;
}


.nav-sub ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sub-items{
  line-height: 40px;
}
.sub-items-first{
  line-height: 10px;
}
.nav-item:focus{
  background-color: #444;
}

.nav-item:focus ~ .nav-content{
  max-height: 500px;
  transition: max-height 0.4s ease;
  -webkit-transition: max-height 0.4s ease;
  -moz-transition: max-height 0.4s ease;
}
/*Animated menu icon*/
.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 13px;
    float: right;
    position: relative;
    left: -10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

.menu-icon{
  display: none;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
@media screen and (max-width:520px){
  .nav-main{
    padding: 0 0 18px 0px;
  }
  ul.topnav li{
      display: none;
  }
  .menu-icon{
    display: block;
  }
  .logo{
    position: absolute;
  }
  ul.topnav.responsive li{
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
  }
  .nav-main > ul{
    float: none;
  }
  #the-project{

  }
}
